@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Edu+SA+Beginner:wght@500&family=Heebo:wght@300;400;800&family=Lato:ital@1&family=Noto+Sans:wght@300;400&family=Pacifico&family=Poppins:wght@600&family=Rubik:wght@300;500&family=Sansita:wght@400;700&family=Sedgwick+Ave+Display&family=Tilt+Prism&family=Titillium+Web:wght@400;700&display=swap');


@font-face {
  font-family: "TAN - PEARL";
  src: url("fonts/TAN-PEARL-Regular.woff2") format("woff2"),
    url("fonts/TAN-PEARL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Nokie";
  src: url("fonts/Nokie-Regular.woff2") format("woff2"),
    url("fonts/Nokie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Diaspora";
  src: url("fonts/Diaspora-Regular.woff2") format("woff2"),
    url("fonts/Diaspora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

:root {
  --color1: #381d2a;
  --color2: #67927a;
  --color3: #9cc89f;
  --color4: #eae6e5;
  --color5: #8c8175;
  --color6: #41493c;
  --color7: #f39b6d;
  --color8: #7d193e;
  --color9: #3e6690;
  --color10: #ffd1bc;
  --pop: "Poppins", sans-serif;
  --tan: "TAN - PEARL";
  --nok: "Nokie";
  --dia: "Diaspora";
  --percent: 40;
  --deg: calc(var(--percent) * 1.8deg);
  --thickness: 2rem;
  --bg1 : white ;
  --font1 : 'Titillium Web', sans-serif;
  --inputcol : #08518d ;
  /* --bg1 : rgb(235, 228, 228) ; */


}

::placeholder {
  color: rgb(83, 83, 83);
  font-weight: 600;
  font-size: 16px;
  opacity: 1; /* Firefox */
}

.glass input {
  color: #292626 ;
  font-size: 16px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: white; */
}

.main-area {
  /* background-image: url('./bg-1.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin-top: 30px;
  background-color: var(--bg1);
  display: flex ;
  justify-content: center;
  background-color: ;
  align-items: flex-start;
  height: 100vh;
  width: 100vw ;
}
html {
  height: 600px;
  width: 400px;
  box-shadow: none;
  background-color: #0a0a0a;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

body {
  /* background-image: url("./assets/uuu.svg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100%;
}

#app {
  height: 100%;
  width: 60% ;
  /* backdrop-filter: blur(3px); */
}

.discription-box {
  display: flex;
  flex-direction: column ;
  align-items: center ;
  width: 100vw ;
  justify-content: center ;
  background-color : var(--bg1) ; 
}

.xp1 {
  color: grey; font-size: 18px ; font-weight: 600; 
  margin-bottom: 10px ;
  border-bottom: 2px solid grey ;
}

.dp {
  display: flex;
  border-radius: 75px ;
  box-sizing: border-box;
  align-items: center;
  margin-top: 35px;
  padding: 30px;
  flex-direction: column;
  width: 90%;
  /* border: 2px solid blue; */
  /* box-shadow: 0px 12px 10px 1px rgb(165, 152, 152); */
  box-shadow: 0px 12px 10px -1px rgb(165 152 152 / 97%);

}

.dp-name {
  font-size: 30px;
  margin: 10px 0px;
  font-weight: 900;
  color: rgb(239 57 57);
}

.image {
  width: 40% ;
  height: 300px ;
  border: 3px solid brown ;
}

.discription {
  width: 48% ;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.example {
  width: 48%;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.dp-text {
  font-size: 20px;
  height: 150px;
  color: green;
  font-family: var(--font1);
}

.e1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.head {
  font-family: var(--dia);
  text-align: center;
  pointer-events: none;
  padding: 20px;
  /* color: var(--color4); */
  color : white ;
}

.glass {
  background: var(--inputcol);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.risk-meter {
  /* margin: 20px 10px; */
  margin-top: 15px;
  padding: 0px;
  color: var(--color4);
  font-family: var(--pop);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.url-form-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urlClass {
  outline: none;
  border: none;
  width: 90%;
  padding: 10px 5px;
  background-color: white;
  font-family: var(--pop);
  color: var(--color4);
}

.url-box-container {
  width: 90%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.url-submit {
  margin: 10px 0 0 0;
  border: none;
  outline: none;
  background-color: var(--color2);
  padding: 10px 33px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color6);
  cursor: pointer;
  color: var(--color4);
}

.url-submit:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color6);
}

.infoBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 10px;
}

.infoBoxChildContainer {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--color3);
}

.gaugeChart {
  width: 100%;
  background-color: var(--color6);
  color: var(--color4);
  font-family: var(--pop);
  height: 30vh;
  border-radius: 10px;
}

.gaugeChart > h2 {
  text-align: center;
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  gap: 10px;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

.pieChart {
  width: 50%;
  background-color: var(--color6);
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pieChart > h2 {
  text-align: center;
}

.miscDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.phishingDetector {
  background-color: var(--color6);
  height: 60%;
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
}

.reportAndKnowMore {
  background-color: var(--color6);
  height: 40%;
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.reportButton {
  width: 100%;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--color8);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color1);
  cursor: pointer;
  color: var(--color4);
}

.reportButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color1);
}

.knowMoreButton {
  width: 100%;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--color9);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color10);
  cursor: pointer;
  color: var(--color4);
}

.knowMoreButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color6);
}

/*Loader*/

.loader {
  /* margin-top: 50px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.loaderMiniContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 130px;
  height: fit-content;
}
.barContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  background-position: left;
}

.bar {
  width: 117%;
  height: 8px;
  background: linear-gradient(
    to right,
    rgb(33, 99, 250),
    rgb(112, 155, 252),
    rgb(6, 11, 171)
  );
  background-size: 200% 100%;
  border-radius: 10px;
  animation: bar ease-in-out 3s infinite alternate-reverse;
}
@keyframes bar {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.bar2 {
  position: relative;
    top: 13px;
    width: 117%;
}
.svgIcon {
  position: absolute;
  left: -25px;
  margin-top: 18px;
  z-index: 2;
  width: 70%;
  animation: search ease-in-out 3s infinite alternate-reverse;
}
@keyframes search {
  0% {
    transform: translateX(0%) rotate(70deg);
  }

  100% {
    transform: translateX(100px) rotate(10deg);
  }
}
.svgIcon circle,
line {
  stroke: rgb(54, 58, 155);
  stroke-linecap: round;
}
.svgIcon circle {
  fill: rgba(98, 65, 142, 0.238);
  /* backdrop-filter: blur(45px); */
  /* filter: blur(10px); */
}

.meter {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

meter {
  width: 100%;
  height: 40px;
}

.container {
  position: relative;
}

.sparkle-button {
  --active: 0;
  --bg: radial-gradient(
      40% 50% at center 100%,
      hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
      transparent
    ),
    radial-gradient(
      80% 100% at center 120%,
      hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
      transparent
    ),
    hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  background: var(--bg);
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 0 calc(var(--active) * 3em) calc(var(--active) * 1em)
      hsl(260 97% 61% / 0.75),
    0 0em 0 0
      hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition),
    background var(--transition);
  scale: calc(1 + (var(--active) * 0.1));
  transition: 0.3s;
}

.sparkle-button:active {
  scale: 1;
  transition: 0.3s;
}

.sparkle path {
  color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
  transform-box: fill-box;
  transform-origin: center;
  fill: currentColor;
  stroke: currentColor;
  animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
  animation-duration: 0.6s;
  transition: color var(--transition);
}

.sparkle-button:is(:hover, :focus-visible) path {
  animation-name: bounce;
}

@keyframes bounce {
  35%,
  65% {
    scale: var(--scale);
  }
}

.sparkle path:nth-of-type(1) {
  --scale: 0.5;
  --delay: 0.1;
  --base: 40%;
}

.sparkle path:nth-of-type(2) {
  --scale: 1.5;
  --delay: 0.2;
  --base: 20%;
}

.sparkle path:nth-of-type(3) {
  --scale: 2.5;
  --delay: 0.35;
  --base: 30%;
}

.sparkle-button:before {
  content: "";
  position: absolute;
  inset: -0.2em;
  z-index: -1;
  border: 0.25em solid hsl(260 97% 50% / 0.5);
  border-radius: 100px;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 100px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 0%;
  left: 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: calc((var(--active)) + 0.4);
  background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.spark:after {
  content: "";
  position: absolute;
  inset: var(--cut);
  border-radius: 100px;
}

.backdrop {
  position: absolute;
  inset: var(--cut);
  background: var(--bg);
  border-radius: 100px;
  transition: background var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

@supports (selector(:has(:is(+ *)))) {
  body:has(button:is(:hover, :focus-visible)) {
    --active: 1;
    --play-state: running;
  }

  .bodydrop {
    display: none;
  }
}

.sparkle-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
  --active: 1;
  --play-state: runnin;
}

.sparkle-button:is(:hover, :focus-visible) {
  --active: 1;
  --play-state: running;
}

.sp {
  position: relative;
}

.particle-pen {
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  -webkit-mask: radial-gradient(white, transparent 65%);
  z-index: -1;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.particle {
  fill: white;
  width: calc(var(--size, 0.25) * 1rem);
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  opacity: var(--alpha, 1);
  animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s)
    infinite linear;
  transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
  z-index: -1;
  animation-play-state: var(--play-state, paused);
}

.particle path {
  fill: hsl(0 0% 90%);
  stroke: none;
}

.particle:nth-of-type(even) {
  animation-direction: reverse;
}

@keyframes float-out {
  to {
    rotate: 360deg;
  }
}

.text {
  translate: 2% -6%;
  letter-spacing: 0.01ch;
  background: linear-gradient(
    90deg,
    hsl(0 0% calc((var(--active) * 100%) + 65%)),
    hsl(0 0% calc((var(--active) * 100%) + 26%))
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: background var(--transition);
}

.sparkle-button svg {
  inline-size: 1.25em;
  translate: -25% -5%;
}

.center {
  position: absolute;
  bottom: 0%;
  left: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  z-index: -1;
  width: 100%;
  transform: translate(-50%, -0%);
  padding: 10px;
}

a {
  text-decoration: none;
}

.shadow__btn {
  padding: 5px 25px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-top: 10px;
  cursor: pointer;
}

.shadow__btn {
  background: rgb(248, 54, 23);
  box-shadow: 0 0 25px rgb(248, 54, 23);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(248, 54, 23), 0 0 25px rgb(248, 54, 23),
    0 0 50px rgb(248, 54, 23), 0 0 100px rgb(248, 54, 23);
}
